<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chrisdalzell.rugbydraw">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@android:style/Theme.Holo.Light.NoActionBar">

        <activity
            android:name=".DrawFragmentActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameInfoActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
